<% provide(:title, 'All users') %>
<% provide(:heading, 'All users') %>

<!-- The will_paginate method is a little magical; inside a users view, it
     automatically looks for a @users object, and then displays pagination
     links to access other pages. This method also requires that the results
     be paginated explicitly using the paginate method in app/controllers/
     users_controller.rb -->
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
